body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
  margin-top: 20px;
  margin-bottom: 10px;
}

p,
ul {
  font-size: 1.2em;
  color: #555;
  text-align: left;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.transformation-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  transition: transform 0.5s ease;
  margin-top: 20px;
}

.transformation-section p {
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
